<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True" />
        <add name="Cars" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\UniqueEnterprise.mdf;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <pages styleSheetTheme="gTheme" />
      <authorization>
        <allow roles="Administrator" />
      </authorization>
      <roleManager enabled="true" />
      <authentication mode="Forms" >
        <forms name="SomeName"
           loginUrl="Home.aspx"
           protection="All"
           path="/">
        </forms>
      </authentication>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <membership defaultProvider="UniqueEnterprises">
        <providers>
          <clear/>
          <add
            name="UniqueEnterprises"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="LocalSqlServer"
            requiresQuestionAndAnswer="false"
            minRequiredPasswordLength="8"
            minRequiredNonalphanumericCharacters="0" />
        </providers>
      </membership>
    </system.web>

</configuration>
